[submodule "third_party/libevent"]
	path = third_party/libevent
	url = https://github.com/libevent/libevent
[submodule "third_party/readerwriterqueue"]
	path = third_party/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
[submodule "third_party/sol2"]
	path = third_party/sol2
	url = https://github.com/ThePhD/sol2
[submodule "third_party/concurrentqueue"]
	path = third_party/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "third_party/sqlpp11"]
	path = third_party/sqlpp11
	url = https://github.com/rbock/sqlpp11
